# compile/run cannot use the environment variables defined by this file
compile = "mvn org.apache.maven.plugins:maven-dependency-plugin:3.5.0:copy-dependencies && javac -encoding UTF-8 -classpath target/dependency/*:$CLASSPATH:. -d target/classes $(find src/main/java -type f -name '*.java')"
run = "cp -r src/main/resources/* target/classes/ && java -Dfile.encoding=UTF-8 -classpath target/classes:$CLASSPATH:target/dependency/*:. com.replit.Application"
# onBoot not function well
onBoot = "kill 1"
entrypoint = "README.md"
hidden = ["**/*.class"]

[env]
SPRING_PROFILES_ACTIVE="prod"

[packager]
language = "java"

[packager.features]
packageSearch = true

[languages.java]
pattern = "src/main/java/**/*.java"

[languages.java.languageServer]
start = "jdt-language-server"

# interpreter command will run instead of the run command, but prybar not support java yet
#[interpreter]
#  [interpreter.command]
#  args = []
#  env = {M2_REPO = "/home/runner/.m2/repository"; CLASSPATH = "$M2_REPO/org/springframework/boot/spring-boot/3.0.5/*:$M2_REPO/org/springframework/boot/spring-boot-autoconfigure/3.0.5/*:$M2_REPO/org/springframework/spring-context/6.0.7/*"}

[unitTest]
language = "java"

[nix]
channel = "stable-22_11"

[debugger]
support = true

[debugger.compile]
command = "javac -verbose -encoding UTF-8 -classpath target/dependency/*:$CLASSPATH:. -g -d target/classes $(find src/main/java -type f -name '*.java')"

[debugger.interactive]
transport = "localhost:0"
connectTimeout = 60
# jdb is jdk native debug tool, java-debug is vscode extension
startCommand = "java-debug"

[debugger.interactive.initializeMessage]
command = "initialize"
type = "request"

[debugger.interactive.initializeMessage.arguments]
adapterID = "cppdbg"
clientID = "replit"
clientName = "replit.com"
columnsStartAt1 = true
linesStartAt1 = true
locale = "en-us"
pathFormat = "path"
supportsInvalidatedEvent = true
supportsProgressReporting = true
supportsRunInTerminalRequest = true
supportsVariablePaging = true
supportsVariableType = true

[debugger.interactive.launchMessage]
command = "launch"
type = "request"

[debugger.interactive.launchMessage.arguments]
classPaths = ["target/dependency/*","target/classes","."] # parameter error? got error even if use actual value: (${CLASSPATH//:/})
mainClass = "com.replit.Application"

[[ports]]
localPort = 80
externalPort = 3000

[[ports]]
localPort = 8080
externalPort = 80

[deployment]
build = "mvn clean package -Dmaven.test.skip=true"
run = "java -jar target/*.jar"

[workflows]
runButton = "Run Spring Boot MVC"

[[workflows.workflow]]
name = "Run Spring Boot"
author = 46561066
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "\"$M2_HOME\"/bin/mvn spring-boot:run"

[[workflows.workflow]]
name = "Run Spring Boot MVC"
author = 46561066
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "\"$M2_HOME\"/bin/mvn -q -DskipTests spring-boot:run"
